<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue" @keypress.enter="addGoal" />
      <button @click="addGoal">Add Goal</button>
      <p v-if="goals.length === 0">
        No goals have been added yet - please start adding some!
      </p>
      <ul v-show="goals.length > 0">
        <li v-for="(goal, index) in goals" :key="index" @click="removeGoal(index)">
          <p>{{ index }} - {{ goal }}</p>
          <input type="text" @click.stop>
        </li>
      </ul>
      <ul>
        <li v-for="num in 3">{{ num }}</li>
      </ul>
      <ul>
        <li v-for="(value, key, index) in {name: 'Duck', age: 20}">
          {{ index }} - {{ key }}: {{ value }}
        </li>
      </ul>
    </section>
  </body>
</html>
